body{
  margin: 0;
}
/*아코디언*/
.menu {
  display: block;
  height: 330px;
  .collapsible {
    background-color: navy;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  .active,
  .collapsible:hover {
    background-color: lightblue;
  }
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
  .collapsible:after {
    content: "\002B";
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .active:after {
    content: "\2212";
  }
  p {
    cursor: pointer;
  }
}

/*modal*/
.modal {
  width: 800px;
  height: 400px;
  background-color: aqua;
  position: absolute;
  top: 10%;
  left: 20%;
  z-index: 2;
  display: none;
  .close {
    margin: 10px;
    width: 30px;
    height: 30px;
    float: right;
    background-color: yellow;
    border: solid 3px orange;
  }
  .modal-contents {
    background-color: white;
    width: 600px;
    height: 300px;
    margin: 50px auto;
  }
}

/*캐러셀*/
.carousel {
  width: 2000px;
  height: 138px;
  /* display: absolute; */
  margin-bottom: 100px;
}
.window {
  overflow: hidden; /*check out container's movement : command + */
  position: relative;
  top: 10%;
  left: 11%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  border: 4px solid black;
  height: 130px;
  width: 386px;
}
.container {
  position: absolute;
  height: 120px;
  width: 550px;
  margin: 5px;
  left: -174px;
}
.cell {
  color: blue;
  font-size: 30px;
  text-decoration: none;
  list-style: none;
  text-align: center;
  width: 100px;
  height: 70px;
  border: 4px solid #555;
  border-radius: 10px;
  background-color: green;
  display: inline-block;
  margin: 10px 10px;
  padding-top: 20px;
}
#carousel-btn {
  font-size: 30px;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  margin: 20px;
  cursor: pointer;
}
.button-container {
  position: relative;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em;
  height: 2.4em;
  width: 200px;
  -webkit-line-clamp: 2;
}
.text :after {
  content: "";
  display: block;
  width: 80%;
  height: 1.2em;
  background-color: white;
}


/*scroll*/
.scroll{
  background-color: black;
  height: 4000px;
}
.scroll-event{
  margin-top: 500px;
  font-size: 80px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: all 2s;
}